swap_camara_df.xlsx
.DS_Store
.ipynb_checkpoints
tpm_2021.xls
tpm_2022.xls
tpm_2023.xls
tpm_2024.xls
tpm_2025.xls
PCA.png
TPM.png
cartagantt.xlsx
ejemplo.png
retornos.png
seriestemporales.png
seriestemporales0cupon.png
seriestemporalesobservadas.png
tasacortatpm.png
superficie_swap.png